<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexwrfc.iris.iris">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:enabled="true"
            android:name=".Services.Monitor"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.nexwrfc.iris.iris.Activity.LoginActivity" android:label="IRIS-LOGIN">

        </activity>

        <activity android:name="com.nexwrfc.iris.iris.Activity.EstadosTareasActivity" android:label="IRIS-TAREAS"/>

        <activity android:name="com.nexwrfc.iris.iris.Activity.Nivel2PanelActivity" android:label="IRIS-MENÚ"/>


        <activity android:name="com.nexwrfc.iris.iris.Activity.AsignarTareasActivity" android:label="IRIS-ASIGNACIÓN TAREAS"/>
        <activity android:name="com.nexwrfc.iris.iris.Activity.ConfigActivity" android:label="IRIS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.nexwrfc.iris.iris.Firebase.Mensajes">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.nexwrfc.iris.iris.Firebase.InstanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

</manifest>